.Pillar1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    height: 57.6em;
    transform: translateZ(0);
}

.Pillar2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    height: 57.6em;
    transform: translateZ(0);

}

.Pillar3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    height: 57.6em;
    transform: translateZ(0);
}

.upPillar1 {
	position: absolute;
	top: 0;
    width: 5em;
    height: 57.6em;
    background: url(/images/fans_v2.png);
    background-size: cover; 
	transform: translateZ(0);
}

.downPillar1 {
    position: absolute;
    bottom: 0; 
    width: 5em;
    height: 57.6em;
    background: url(/images/fans_v2.png);
    background-size: cover; 
    transform: translateZ(0);
}


.upPillar2 {
    position: absolute;
    top: 0;
    width: 5em;
    height: 57.6em;
	background: url(/images/fans_v2.png);
    background-size: cover; 
    transform: translateZ(0);
}

.downPillar2 {
    position: absolute;
    bottom: 0; 
    width: 5em;
    height: 57.6em;
    background: url(/images/fans_v2.png);
    background-size: cover; 
    transform: translateZ(0);
}
.upPillar3 {
    position: absolute;
    top: 0;
    width: 5em;
    height: 57.6em;
    background: url(/images/fans_v2.png);
    background-size: cover; 
    transform: translateZ(0);
}

.downPillar3 {
    position: absolute;
    bottom: 0; 
    width: 5em;
    height: 57.6em;
    background: url(/images/fans_v2.png);
    background-size: cover; 
    transform: translateZ(0);
}

.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
	/*background: blue; */
	background-image: url(/images/bonnie_v3.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateZ(0);
}
/*
.Player-wings {
	position: absolute;
	left: 1.25em;
	top: 1.4em;
	height: 1.3em;
	width: 2.5em;

	background: yellow;
	transform-origin: top left;
	transform: translateZ(0);
	animation: 0.4s flap alternate infinite;
}
*/
@-webkit-keyframes flap {
	from {
		transform: rotateX(0);
	}
	to {
		transform: rotateX(180deg);
	}
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background-color: purple;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGUlEQVQ4y2NgoBJwoJAedcGoC0ZdMOAuAABF0hABJ/8lyQAAAABJRU5ErkJggg==);
	background-attachment: fixed;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
	font-size: 2.4em;
	color: white;
}
body {
	background: black;
}
.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}
.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	/*background: red; */
}

#score {
	z-index: 9999 !important;
	position: absolute;
	width: 100%;
	left: 0;
	color: white;
	text-align: center;
	font-size: 400%;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

#scoreOnBoard {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	color: white;
	top: 3em;
	left: 38%;
}

#bonniePic {
	position: absolute;
	top: 0em;
	left: 0em;
	padding: 2em;
}

.glyphicon {
	z-index: 9999;
	position: absolute;
	top: 0em;
	left: 1em;
	font-size: 2.5em;
}

.background-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 400%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	background-repeat: repeat-x;
	background: url('/images/fans_background.png');
	background-size: contain;
	-webkit-animation: moveCarpet 40s linear infinite;
	-webkit-transform: translate3d(0,0,0);
}

@-webkit-keyframes moveCarpet {
   from { 
   		-webkit-transform: translate3d(0,0,0);
   	}
    to { 
    	-webkit-transform: translate3d(-80em,0,0);
    }
}

.ground-img {
	position: absolute;
	top: 95%;
	left:0;
	width: 400%;
	height: 3em;
	background: url('/images/teppi.jpg');
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: moveGround 5s infinite linear;

}

@-webkit-keyframes moveGround {
   from { 
   		-webkit-transform: translate3d(0,0,0);
   	}
    to { 
    	-webkit-transform: translate3d(-100em,0,0);
    }
}